.transferWrap {
  display: flex;
  gap: 16px;
  align-items: center;
  overflow: hidden;
}

.transferTreeListWrap {
  width: 300px;
  height: 380px;
  border: gray 1px solid;
  border-radius: 8px;
}

.treeListHeader {
  height: 36px;
  width: 100%;
  border-bottom: gray 1px solid;
  padding: 8px;
}

.treeListBody {
  padding: 8px;
}

.treeListSearch {
  margin-bottom: 8px;
}

.treeListContent {
  overflow-y: scroll;
}