.transferWrap {
  display: flex;
  gap: 16px;
  align-items: center;
}

.transferTreeListWrap {
  width: 260px;
  height: 380px;
  border: gray 1px solid;
  border-radius: 8px;
}

.treeListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: gray 1px solid;
  padding: 8px;
}

.treeListBody {
  padding: 8px;
}

.treeListSearch {
  margin-bottom: 8px;
}